{% extends "index.html" %}
{%block content%}
<br></br>
<div class="container">
    <H2>Please Login:</H2>
    <br></br>
<form action="/home">

<div class="form-group">
    <label for="username">Username:</label>
    <br/>
    <input type="text" id="username" name="username" placeholder="username"></input>
</div>
<br></br>
<div class="form-group">
    <label for="password">Password:</label>
    <br/>
    <input type="text" id="password" name="password" placeholder="password"></input>

</div>
    <br></br>
    <input type="submit"></input>
</div>
</form>
</div>
{%endblock content%}