{% extends "index.html" %}
{%block content%}
<br></br>
<div class="container"> 
    <h1>Upload Files Here:</h1>
    <br></br> 
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
    <label for="transfile">Transaction File: </label><br></br>
    <input type="file" id="transfile" name="file">
    <br></br> 
    <br></br> 
    <label for="plfile">P&L File: </label>
    <br></br> 
    <input type="file" class="form-control-file" id="plfile" name="plfile">
    <br></br>
    <input type ="submit">
        </div>
</form>
</div>
{% endblock content %}